black
flake8
isort
loguru
mkdocs
pip
tqdm
typer
python-dotenv

# APP
streamlit

# LLM
chroma
llama-index
llama-index-embeddings-huggingface
llama-index-llms-ollama
PyStemmer

beautifulsoup4

# langchain
langchain
langchain_openai
langchain_huggingface
langchain-ollama
langchain-chroma>=0.1.2
rank_bm25
markdownify

# llama index
llama-index-retrievers-bm25
llama-index-vector-stores-chroma

# language tokenizer
konlpy
janome
janomecabdic

datasets
bert-score